.day-item {
    background-color: aquamarine;
}
.day {
    border: 3px solid black;
}

.priority-low {
    background-color: blue;
}

.priority-middle {
    background-color: yellow;
}

.priority-high {
    background-color: red;
}